{% extends "layout.html" %}

{% block content %}

<div id="hero-section">
    <p>If you have any query or issue, submit a Ticket.</p
    <p>Our executives will respond within 48 hours and</p>
    <p>resolve your issues as soon as possible</p> 
</div>
<div id="ticket">
    <div id="submit-ticket">
        <a href="#">
            <h3>Submit a Ticket</h3>
            <p>Submit a new issue to a department</p>
        </a>
    </div>
    <div id="view-tcket">
        <a href="#">
            <h3>View Existing Tickets<h3>
            <p>View Tickets you submitted in the past</p>
        </a>
    </div>
</div>
<div id="goto-admin">
    <a href="#">
        <h3>Goto Administration Dashboard</h3>
    </a>
</div>

{% endblock %}}
